[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests-html = "*"
pyyaml = "*"
minidb = "*"
requests = "*"
keyring = "*"
appdirs = "*"
urlwatch = "*"
"beautifulsoup4" = "*"

[requires]
python_version = "2.7"
